.sidebar {
    min-width: 150px;
    background-color: #191718;
}

.sidebar.active {
    position: fixed;
    display: block;
    z-index: 10;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    padding: 14px 16px;
    border-bottom: 1px solid #aaaaaa;
    transition: 0.2s ease-in-out;
}

.nav-list li a {
    color: #aaaaaa;
    transition: 0.2s ease-in-out;
}

.nav-list li:first-child a {
    color: #fff;
}

.nav-list li:hover {
    background-color: #5c5c5c;
}

.nav-list li:hover a {
    color: #fff;
}
