*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

p {
    line-height: 18.75px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
}

.btn__sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    outline: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content__item {
        width: calc(100% / 2 - 50px);
        flex: none;
    }

    .content__item img {
        margin-bottom: 20px;
        float: none;
    }
}

@media screen and (max-width: 480px) {
    .content__logo {
        width: 40%;
    }

    .content__item {
        width: 100%;
        flex: none;
    }

    .content__item img {
        margin-bottom: 20px;
        float: none;
    }
}
